
/* COLORS */
:root {
	--test:rgb(0, 0, 0);
	
	/* modifiables */
	--main-color:100, 148, 237;		/* blue theme */
	/* --main-color:239, 126, 33; */  		/* orange theme */
	/* --main-color:93, 213, 18;			/* green theme */
	/* --main-color:239, 229, 33; */		/* yellow theme */
	/* --main-color:204, 126, 242;			/* purple theme */
    --window-color:rgb(15, 15, 15);
    --input-text-color:rgb(255, 255, 255);
    --button-text-color:rgb(15, 15, 15);

	/* based on main color, don't modify */
    --main-color1:rgba(var(--main-color), 1);
    --main-color08:rgba(var(--main-color), 0.8);
    --main-color05:rgba(var(--main-color), 0.5);
    --main-color04:rgba(var(--main-color), 0.4);
    --main-color03:rgba(var(--main-color), 0.3);
    --main-color015:rgba(var(--main-color), 0.15);
}

html, body {
	background-color: var(--window-color) !important;
	cursor: default;
}

#app {
	display: flex !important;
	justify-content: center;
	width: 100%;
	font-size: 20px;
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.scrollbar {
	scrollbar-color: var(--main-color04) var(--window-color);
	scrollbar-width: thin;
	padding-right: 10px;
	overflow: auto;
}

.chat {
	padding:20px;
	height: 100vh;
	width: 1000px;
	color: var(--main-color1);
}

.join {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.join input {
	max-width: 300px;
}
.join button {
	max-width: 100px;
}

.chat-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.users-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 25%;
	max-height: 100%;
	padding: 0 0 5px 0;
	border: solid 1px var(--main-color015);
	border-right: 0;
}

.users-wrapper {
	padding: 5px 10px 0 10px;
	height: calc(100% - 36px);
}

.users {
	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.user-wrapper {
	display: flex;
	justify-content: start;
}

.user {
	padding-left: 10px;
	display: block;
}

.users .me {
	color: var(--main-color05);
}

.users .else {
	color: var(--main-color05);
}

.lister {
	color: var(--main-color05);
	position: absolute;
	left: 5px;
	transform: translateX(-100%);
}

.count {
	color: var(--main-color1);
	background-color: var(--main-color015);
	height: 36px;
	padding-left: 10px;
	text-align: left;
}

.typing + span, .me-typing + span {
	color: var(--main-color1)!important;
}
.typing + span:after{
	font-size: 12px;
	font-style: italic;
	content: ' is typing ...';
}
.typing + span, .me-typing + span, .typing + span:after {
	transition: .25s;
}

.messages-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 75%;
	line-break: anywhere;
	border: solid 1px var(--main-color015);
}

.title {
	background-color: var(--main-color015);
	height: 36px;
	text-align: left;
	padding-left: 10px;
}

.messages-wrapper {
	height: calc(100% - 98px);
	padding: 5px 0 0 10px;
}

.messages {
	/* height: calc(100vh - 100px); */
	max-height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
	padding: 0 10px 0 0;
}

.message .me {
	padding-left: 25%;
	text-align: right;
}

.message .else {
	padding-right: 25%;
}
.message .else-name {
	opacity: 0.5;
}

.message {
	padding-bottom: 5px;
}

.write {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60px;
}

form {
	display: flex;
	justify-content: center;
}

label {
	opacity: 0.5;
	padding: 10px 0;
}

input, button {
	height: 35px;
	border: 0;
	border-radius: 5px;
	font-size: 20px;
	cursor: default;
	margin: 0 5px;
}

input {
	background-color: var(--main-color03);
	color: var(--input-text-color);
	width: calc(75% - 20px);
	padding: 5px 15px;
}

button {
	background: var(--main-color08);
	color: var(--button-text-color);
	width: 25%;
	padding: 5px;
}

input:hover, input:active, input:focus {
	background-color: var(--main-color04);
	transition: .15s;
}

button:hover, button:active, button:focus {
	transition: .15s;
	background: var(--main-color1);
}

input:focus, button:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
	#app {
		padding: 0px!important;
	}
	.chat {
		padding: 20px 10px!important;
	}
	button {
		line-break:normal;
	}
}